:root {
  color: white;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0 auto;
  padding-top: 15vh;
  height: 100vh;
  gap: 20px;
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1 {
  font-size: 3rem;
  margin: 0 auto;
}

#controls {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

select {
  border-radius: 5px;
  cursor: pointer;
}

button {
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button:active {
  transform: scale(0.9);
  background-color: #ddd;
}

#keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  max-width: 366px;
  margin: 0 auto;
}

#keyboard button {
  padding: 10px;
  font-size: 16px;
}

#sequence {
  font-size: 3rem;
}
