@media (max-width: 768px) {

  .menu {
    display: none;
  }

  .burger-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .burger-icon {
    display: flex;
    position: relative;
    width: 22px;
    height: 2px;
    background-color: var(--dark);

    margin: 8px;
  }

  .burger-icon::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: var(--dark);
    top: 8px;
  }

  section {
    padding: 0;
  }

  .about__inner-text {
    padding: 46px 60px;
  }

  .container {
    max-width: 752px;
  }

  header .container {
    padding: 10px 0;
  }

  .slider {
    padding: 60px 0;
  }

  .gifts__wrap {
    padding: 0 60px 60px 60px;
  }

  .footer__first__container {
    flex-direction: column;
  }
}