@media (max-width: 1300px) and (min-width: 769px) {
  .container {
    max-width: 98vw;
  }

  .gifts__wrap {
    justify-content: center;
  }
}

@media (max-width: 1043px) {
  .footer__first__container {
    flex-direction: column;
  }
}

@media (hover: hover) {
  .logo_wrap {
    cursor: default;
  }

  .gift__card,
  .social__container,
  .footer__card,
  .tabs__item,
  .main_btn {
    transition: none;
    cursor: default;
  }

  .menu a {
    color: currentColor;
    background-color: inherit;
  }

  .main_btn:hover {
    color: currentColor;
    background-color: var(--dark);
  }

  .gift__card:hover {
    color: var(--dark);
  }

  .tabs__item:hover {
    color: currentColor;
    background-color: inherit
  }

  .social__container:hover {
    filter: none;
  }

  .footer__link:hover {
    color: var(--dark);
  }
}

@media (max-width: 768px) {

  .menu {
    display: none;
  }

  .burger-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 36px;
    cursor: pointer;
  }

  .burger-icon {
    display: flex;
    position: relative;
    width: 22px;
    height: 2px;
    background-color: var(--dark);

    margin: 8px;
  }

  .burger-icon::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: var(--dark);
    top: 8px;
  }

  section {
    padding: 60px 0 0 0;
  }

  .main_btn {
    margin-top: 5px;
  }

  .about__inner-text {
    width: 73%;
    padding: 46px 60px;
  }

  .mobile {
    display: none;
  }

  .about__inner__img-wrap {
    max-width: 100%;
  }

  .container {
    max-width: 752px;
  }

  header .container {
    padding: 10px 0;
  }

  .slider {
    padding: 60px 0;
  }

  .gifts__wrap {
    padding: 0 60px 60px 60px;
  }

  .gift__card-titles {
    gap: 8px;
  }

  .cta .main_btn {
    margin-top: -2px;
  }

  .gift-section__header {
    padding-top: 62px;
  }
}

@media (max-width: 760px) {
  .container {
    max-width: 98vw;
  }

  .gifts__wrap {
    padding: 0 0 0 0;
    flex-direction: column;
  }

  .about__inner-text  {
    width: 100%;
  }

}

@media (max-width: 630px) {
  .about__inner {
    flex-direction: column;
  }
}

@media (max-width: 380px) {

  .container {
    max-width: 364px;
  }

  .about {
    padding: 60px 0;
  }

  .about__inner-text {
    padding: 60px 20px;
  }

  .about__inner__img-wrap {
    width: 100%;
  }

  .mobile {
    display: none;
  }

  .slider {
    padding: 56px 0;
  }

  .gifts {
    padding: 65px 0;
  }

  .tabs {
    gap: 0;
    padding: 22px 0;
  }

  .tabs__item {
    padding: 12px 8px;
  }

  .gift-section {
    padding-bottom: 60px;
  }

  .cta {
    padding: 114px 0;
  }

  footer {
    padding: 68px 0;
  }
}