@media (max-width: 768px) {

  .menu {
    display: none;
  }

  .burger-icon {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    position: relative;
    width: 22px;
    height: 2px;
    background-color: var(--dark);
  }

  .burger-icon::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: var(--dark);
    top: 8px;
  }

  section {
    padding: 0;
  }

  .about__inner-text {
    padding: 46px 60px;
  }

  .container {
    max-width: 752px;
  }

  .gifts__wrap {
    padding: 60px;
  }

  .footer__first__container {
    flex-direction: column;
  }
}